<html>

<head>
	
<title>
	
</title>

<style>
   .shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em red; 
    color: white; 
    font-size: 2em; 
   }
  </style>

</head>

<body>

<p class="shadowtext">Google_map </p>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d8000.086608950653!2d30.437943!3d59.915188!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1568314152666!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;display: inline;float:left" allowfullscreen=""></iframe>
 
 <p style = "display: inline;font-family: cursive"> Карти Google[1] (читається [ка́рти ґуґл], англ. Google Maps) — безкоштовний картографічний сервіс від компанії Google, а також набір застосунків, побудованих на основі цього сервісу й інших технологій Google.

Сервіс являє собою карту та супутникові знімки всього світу (а також Місяця[2] і Марса[3]) і надає користувачам можливості панорамного перегляду вулиць (Google Street View), аналізу трафіку у реальному часі (Google Traffic), прокладання маршруту (автомобілем, пішки, велосипедом або громадським транспортом). З сервісом інтегрований бізнес-довідник і карта автомобільних доріг, з пошуком маршрутів.

Перегляд супутникового зображення може здійснюватися в режимі як «зверху-вниз» так і в «режимі польоту». Більшість аерознімків високої роздільної здатності зроблені з дронів, які пролітають над землею на висоті 240—460 м, інші зроблені з супутників. Знімки є не більш ніж трирічної давності та оновлюються на регулярній основі. Карти Google використовують , близький до проекції Меркатора. 
</p>
<img  src="{{url_for('static', filename='image7.jpg')}}"  height="200" width="470px" border="5px"; alt="" />


<hr>
</body>

</html
