<html>

<head>
<title>
	Фотки 
</title>
</head>

<body>
	<style>
   body{
    background-color: #696969; 
   } 
   .animal{
    text-shadow: 1px 1px 2px black, 0 0 1em red; 
    color: white; 
    font-size: 2em; 
    text-align: center;
   }
  </style>
</style>
<p class="animal">Animals</p>
<img class="mymy" src="{{url_for('static', filename='image1.jpg')}}" height="470" width="470px" border="8px"; alt="" />
<img  src="{{url_for('static', filename='image2.jpg')}}"  height="470" width="470px" border="8px"; alt="" />
<img  src="{{url_for('static', filename='image3.jpg')}}"  height="470px" width="470px" border="8px"; alt="" />
<img  src="{{url_for('static', filename='image4.jpg')}}"  height="470px" width="470px" border="8px"; alt="" />
<img  src="{{url_for('static', filename='image5.jpg')}}"  height="470px" width="470px" border="8px"; alt="" />
<img  src="{{url_for('static', filename='image6.jpg')}}"  height="470px" width="470px" border="8px"; alt="" />
</body>

</html
